* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
}

body {
	background: #222;
	overflow-y: hidden;
}

#particles-js {
	height: 100vh;
}


.card {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 90%;
	max-width: 470px;
	/* background: linear-gradient(135deg, #02fff2e0,#00feba81); */
	background-image: linear-gradient(to top, #2ac986c2 0%, #5810afd0 100%);
	color: #fff;
	/* margin: 6.25rem auto 0; */
	border-radius: 1.25rem;
	padding: 2.5rem 2.2rem;
	text-align: center;
}

/* --------------------------------- .search -------------------------------- */
.search {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.search input {
	border: 0;
	outline: 0;
	background: #ebfffc;
	color: #555;
	padding: 10px 25px;
	height: 60px;
	border-radius: 30px;
	flex: 1;
	margin-right: 1rem;
	font-size: 18px;
}

.search button {
	border: 0;
	outline: 0;
	background: #ebfffc;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	cursor: pointer;
}

.search button img {
	width: 1rem;
}

/* ------------------------------ .weather-icon ----------------------------- */
.weather-icon {
	width: 10.6rem;
	margin-top: 2rem;
}

.weather h1 {
	font-size: 5rem;
	font-weight: 500;
}
.weather h2 {
	font-size: 3rem;
	font-weight: 500;
	margin-top: -10px;
}

.details {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1.25rem;
	margin-top: 3.1rem;
}

.col {
	display: flex;
	align-items: center;
	text-align: left;
}
.col img {
	width: 40px;
	margin-right: 0.5rem;
}

.humidity,
.wind {
	font-size: 28px;
	margin-top: -6px;
}

.weather {
	display: none;
}

.error {
	text-align: left;
	margin-left: 10px;
	font-size: 1rem;
	margin-top: 10px;
	display: none;
}
.errors {
	text-align: left;
	margin-left: 1rem;
	font-size: 1rem;
	margin-top: 10px;
	display: none;
}


:focus {
    outline: 2px solid #007bff; 
    outline-offset: 2px; 
  }